@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
@import "media";

.header {
  background-color: #31352b;
  padding-top: 17px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__inner-list {
    display: flex;
  }
  &__inner-link + .header__inner-link {
    margin-left: 48px;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    margin-left: 24px;
  }
  &__list-link {
    color: #fff;
    font-size: 13px;
    line-height: 18px;
    @extend %openSans-700;
  }
}

.user {
  background-color: #63a60f;
  padding: 25px 0;
  margin-top: 15px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // justify-content: space-between;
  }

  &__inner-logo {
    margin-right: 24px;
  }

  &__catalog {
    background-color: #fff;
    border-radius: 6px;
    margin-right: 30px;
    max-width: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    // position: relative;
    // :hover {
    //   background-color: rgb(78, 14, 14);
    // }
    // :hover + .user__catalog-menu {
    //   display: block;
    // }
  }

  &__catalog-img {
    padding: 16px;
  }

  &__catalog-text {
    padding: 15px 0 15px;
    position: relative;
    @extend %openSans-600;
    font-size: 14px;
    line-height: 140%;
    color: #63a60e;
  }

  &__catalog-text::before {
    content: "";
    position: absolute;
    background-image: url(../images/catalog-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 7px;
    height: 4px;
    left: 145px;
    top: 23px;
  }

  &__catalog-menu {
    padding: 15px 15px;
    background-color: #fff;
    position: absolute;
    display: none;
    z-index: 10;
    left: 0;
    top: 45px;
  }

  &__catalog-item {
    @extend %openSans-400;
    font-size: 16px;
    line-height: 120%;
    padding: 15px 24px;
  }

  &__form {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 576px;
    width: 100%;
  }

  &__form::after {
    content: "";
    position: absolute;
    background-image: url(../images/icon-search.png);
    background-repeat: no-repeat;
    background-size: contain;
    left: 12px;
    top: 16px;
    width: 20px;
    height: 20px;
  }

  &__form-textarea {
    padding: 15px 145px 15px 51px;
    border-radius: 6px 0px 0px 6px;
    resize: none;
    height: 50px;
    @extend %openSans-400;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
  }

  &__nav {
    display: flex;
  }

  &__nav-link {
    position: relative;
  }

  &__nav-numb {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    top: -9px;
    right: 22px;
    font-weight: 600;
    font-size: 10px;
    text-align: center;
    line-height: 18px;
    color: #cf3e3b;
  }

  &__nav-link + .user__nav-link {
    padding-left: 27px;
  }
}

.btn-textarea {
  background-color: #31352b;
  color: #fff;
  padding: 16px 52px;
  border-radius: 0px 6px 6px 0px;
  border: 0;
  margin-right: 58px;
  font-size: 14px;
  line-height: 140%;
}

// MAIN
.slider {
  &__content {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    width: 1290px;
    // width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 24px;
  }

  &__title {
    max-width: 709px;
    @extend %ruda-700;
    font-size: 60px;
    line-height: 130%;
    margin-bottom: 2px;
    color: #505050;
  }

  &__title-decor {
    color: #cf3e3b;
  }

  &__text {
    margin-bottom: 32px;
    @extend %openSans-400;
    font-size: 16px;
    line-height: 140%;
    color: #505050;
  }

  &__btn {
    background-color: #63a60e;
    border-radius: 6px;
    padding: 12px 24px;
  }
  &__btn-link {
    font-size: 18px;
    line-height: 130%;
    color: #fff;
  }
}

.slick-next {
  position: absolute;
  top: 0;
  right: 60px;
  transform: translateY(-50%);
  top: 50%;
  background-color: #ffff;
  z-index: 5;
  padding: 14px 20px;
  border-radius: 6px;
}

.slick-prev {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  padding: 14px 20px;
  background-color: #ffff;
  z-index: 5;
  left: 60px;
  border-radius: 6px;
}

.feature {
  background-color: #f6f6f6;
  padding: 48px 0;

  &__item--icon1::after {
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    left: -64px;
    top: -5px;
    background-image: url(../images/scooter.svg);
  }

  &__item--icon2::after {
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    left: -64px;
    top: -5px;
    background-image: url(../images/return-box.svg);
  }

  &__item--icon3::after {
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    left: -64px;
    top: -5px;
    background-image: url(../images/24-hours.svg);
  }

  &__list {
    display: flex;
    justify-content: space-around;
  }

  &__item {
    max-width: 264px;
    position: relative;
  }

  &__item + .feature__item {
    margin-left: 64px;
  }

  &__title {
    @extend %openSans-600;
    font-size: 16px;
    line-height: 140%;
  }

  &__text {
    max-width: 190px;
    @extend %openSans-400;
    font-size: 14px;
    line-height: 140%;
    color: #505050;
  }
}

.products {
  text-align: center;
  padding-top: 72px;
  padding-bottom: 52px;

  &__title {
    @extend %ruda-600;
    font-size: 32px;
    line-height: 140%;
    margin-bottom: 30px;
  }

  &__filter {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
  }

  &__item + .products__item {
    margin-left: 24px;
  }

  &__btn {
    @extend %openSans-700;
    font-weight: bold;
    font-size: 15px;
    line-height: 140%;
    color: #505050;
  }

  &__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.card {
  max-width: 300px;
  max-height: 409px;
  padding-top: 12px;
  padding-bottom: 18px;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  margin-bottom: 30px;

  &__title {
    @extend %openSans-700;
    font-weight: bold;
    font-size: 10px;
    line-height: 100%;
    color: #fff;
    padding: 3px 6px;
    background-color: #63a60e;
    max-width: 66px;
    border-radius: 6px;
    margin-left: 12px;
    margin-bottom: 6px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    @extend %openSans-700;
    font-weight: bold;
    font-size: 10px;
    line-height: 100%;
    color: #fff;
    padding: 3px 6px;
    background-color: #cf3e3b;
    border-radius: 6px;
    max-width: 37px;
    margin-left: 12px;
  }

  &__btn {
    position: relative;
    right: 0;
    top: -17px;
  }
  &__hero {
    text-align: left;
  }

  &__hero-img {
    margin-bottom: 18px;
    width: 100%;
  }

  &__hero-text {
    @extend %openSans-600;
    font-size: 14px;
    line-height: 140%;
    margin-left: 12px;
    max-width: 250px;
    // margin-bottom: 50px;
  }

  &__price {
    // text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // position: relative;
    // top: 0;
    // left: 0;
  }

  &__price-list {
    margin-left: 10px;
    text-align: left;
  }

  &__price-discont {
    @extend %openSans-400;
    font-size: 14px;
    line-height: 100%;
    color: #c1c1c1;
    margin-bottom: 3px;
    position: relative;
  }
  // &__price-discont::before {
  //   content: "";
  //   border-bottom: 1px solid #c1c1c1;
  //   transform: rotate(-14.99deg);
  //   position: absolute;
  //   width: 100%;
  //   height: 50%;
  // }

  &__price-text {
    font-size: 14px;
    line-height: 100%;
    color: #505050;
  }

  &__price-btn {
    margin-right: 18px;
  }
}

// FOOTER

.footer {
  background-color: #31352b;
  padding-top: 30px;

  &__top {
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
  }

  &__top-item + .footer__top-item {
    margin-left: 74px;
  }

  &__top-contact {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
  }

  &__top-social-item + .footer__top-social-item {
    margin-left: 11px;
  }

  &__top-social-list {
    display: flex;
  }

  &__inner {
    display: block;
  }

  &__menu-item {
    margin-bottom: 18px;
  }

  &__menu-link {
    @extend %openSans-400;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
  }
}

.subscription {
  &__title {
    @extend %openSans-400;
    font-size: 14px;
    line-height: 100%;
    color: #fff;
  }

  &__form {
    margin-top: 18px;
    margin-right: 75px;
  }

  &__input {
    padding: 12px;
    border-radius: 6px 0px 0px 6px;
  }

  &__btn {
    padding: 12px 16px;
    background-color: #63a60e;
    border-radius: 0px 6px 6px 0px;
    border: none;
    @extend %openSans-700;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
  }
}

.footer__button {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;

  &-copy {
    @extend %openSans-400;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
  }

  &-accept {
    display: flex;
  }

  &-img + .footer__button-img {
    margin-left: 24px;
  }
}

// .footer__button-accept {
//   display: flex;
// }
